.footer-info{
    border-top: solid rgb(255, 255, 255, 0.5) 0.5px;
    border-bottom: solid rgb(255, 255, 255, 0.5) 0.5px;
    padding-top: 100px;
    padding-bottom: 100px;
background-color: black;
color: white;
text-align: center;
}

.footer_info li{
    text-align: left;
list-style: none;
}

.icons_footer{
    
    padding-bottom: 30px;
}


.icons_footer li{
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    display: inline;
    margin: 0 1.07143rem;
    font-size: 30px;
}

h5{
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}
ul{
    padding: 0;
}

.footer-priv-term{
    
    padding-left: 60px;
    color: #969696;
  text-align: left;
}
.footer-priv-term li{
    display: inline;
    list-style: none;
}
.footer-copyright{
    padding-right: 60px;
    color: #969696;
    text-align: right; 
}

.pri_term_copy{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: solid rgb(255, 255, 255, 0.5) 0.5px;
}

.hidd_pc{
    display: none;
}

@media (max-width: 767px){
    .hidd_mv{
        display: none ;
        }
        .hidd_pc{
            display:block ;
        }   
        .footer-info{
            border-top: solid rgb(255, 255, 255, 0.5) 0.5px;
            border-bottom: solid rgb(255, 255, 255, 0.5) 0.5px;
            padding-top: 0px;
            padding-bottom: 0px;
        background-color: black;
        color: white;
        text-align: center;
        } 
        .footer-info h5{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .footer-copyright{
            padding-bottom: 15px!important;
            text-align: center!important;
            padding:0;
            color: #969696;
            text-align: right; 
        }
        
        .pri_term_copy{
            background-color: black;
            padding: 0;
            border-top: solid rgb(255, 255, 255, 0.5) 0.5px;
        }
        .footer-priv-term{
            padding-top: 15px!important;
            text-align: center!important;
           padding: 0;
            color: #969696;
          text-align: left;
        }



}
.md-accordion .card .fa-angle-down {
    float: right;
}
.hidd_pc{
text-align: left;
text-decoration: none;
}
.card h4{
    font-family: HelveticaNeueLTPro-Roman,HelveticaNeue-Roman,"Helvetica Neue Roman","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid rgb(60, 60, 60);
    border-radius: .25rem;
}
a:hover {
    color: white;
    text-decoration: none;
}
