<div class="container-fluid">
  <div class="row footer-info">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <h5>Hear It First</h5>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="container hidd_mv">
        <div class="row footer_info">
          <div class="col-4">
            <ul>
              <li>Help Center</li>
              <li>Contact Us</li>
              <li>Account</li>
              <li>Product Help</li>
              <li>Warranty</li>
            </ul>
          </div>
          <div class="col-4">
            <ul>
              <li>Discount Programs</li>
              <li>Compare</li>
              <li>Custom Product</li>
              <li>Bulk Orders</li>
              <li>Press Releases</li>
            </ul>
          </div>
          <div class="col-4">
            <ul>
              <li>
                About
              </li>
              <li>
                Born in PC
              </li>
              <li>
                Protect Our Winters
              </li>
              <li>
                Careers
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container hidd_pc">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo1">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                aria-expanded="false" aria-controls="collapseTwo1">
                <h4 class="mb-0">
                  Support <i class="fas fa-angle-down rotate-icon"></i>
                </h4>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
              data-parent="#accordionEx1">
              <div class="card-body">

              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                aria-expanded="false" aria-controls="collapseTwo21">
                <h4 class="mb-0">
                  Offers <i class="fas fa-angle-down rotate-icon"></i>
                </h4>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
              data-parent="#accordionEx1">
              <div class="card-body">
               
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                aria-expanded="false" aria-controls="collapseThree31">
                <h4 class="mb-0">
                  About Us <i class="fas fa-angle-down rotate-icon"></i>
                </h4>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
              data-parent="#accordionEx1">
              <div class="card-body">
                
              </div>
            </div>

          </div>
          <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="row">
        <div class="col-12">
          <h5 >FOLLOW US</h5>
        </div>
        <div class="col-12">
          <ul class="icons_footer">
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-youtube"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row footer pri_term_copy">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 footer-priv-term">
      <ul>
        <li>
          Privacy Policy
        </li>
        <li>
          |
        </li>
        <li>
          Terms of Use
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 footer-copyright">
      <p>© 2020 Skullcandy.com All Rights Reserved </p>
    </div>
  </div>
</div>
