<div class="container-fluid slider_1 ">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" >
            <img class="hidden-mv"  src="https://images.prismic.io/skullcandy/0a0a8705-be1b-4877-9c07-29e614e2c79d_P1_desktop_indyfuel.jpg?auto=compress,format" alt="" srcset="">
            <img class="hidden-pc"  src="https://images.prismic.io/skullcandy/f47e0a0f-1947-4d92-a181-ca7dcf26cde5_1_mobile_crusherevo_black.jpg?auto=compress,format&rect=0,0,800,1400&w=800&h=1400" alt="" srcset="">
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="row slider_2">
              <div   class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <img class="hidden-mv" width="100%" height="100%"  src="https://images.prismic.io/skullcandy/9184797e-a453-4fec-b81d-67d5772993ab_P2_truewireless_EN.jpg?auto=compress,format" alt="" srcset="">
                <img class="hidden-pc" src="https://images.prismic.io/skullcandy/f23f17ed-8889-4299-a9f8-d526916b23fc_2_jibtrue_hero_alt.jpg?auto=compress,format&rect=0,0,800,800&w=800&h=800" alt="" srcset="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <img class="hidden-mv"  width="100%" height="100%" src="https://images.prismic.io/skullcandy/ca2f7637-85dd-4dad-b526-706ef2709245_P3_rico_EN.gif?auto=compress,format" alt="" srcset="">
                <img class="hidden-pc" src="https://images.prismic.io/skullcandy/4eb1da34-0082-4707-8a72-b789480fee37_3_insideskullcandy.jpg?auto=compress,format&rect=0,0,800,800&w=800&h=800" alt="" srcset="">
            </div>  
        </div>
        </div>
    </div>
</div>