/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{
    background: white;
    border-radius: 4px;
}
.container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background:  rgba(68, 68, 68, 0.3);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background:  rgba(68, 68, 68, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background-color: black;
}